ion-slides {
    height: 100%;
}

ion-slide {
    text-align: start;
    flex-direction: column;
}

ion-card {
    height: 127px;
    box-shadow: none;
}

ion-list {
    padding: 16px;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;

        span {
            font-size: 0.875rem;
        }

        ion-label {
            font-size: 0.9rem;
        }

        &:last-child {
            --border-width: 0;
        }
    }

    &.customers {
        padding: 0;

        ion-item {
            --inner-padding-top: 8px;
            --inner-padding-bottom: 8px;
            --padding-start: 20px;
            --inner-padding-end: 16px;
            --detail-icon-color: var(--ion-color-primary);
            --detail-icon-opacity: 1;

            ion-label {
                margin: 0;
            }

            &:last-child {
                --border-width: 0;
            }
        }
    }

    &.products {
        background: var(--ion-color-light);
        padding: 0;

        ion-item {
            --background: var(--ion-color-light);
            --padding-start: 16px;
            --inner-padding-end: 16px;

            &.no-products {
                --padding-top: 16px;
                --padding-bottom: 16px;
                --padding-start: 60px;
                --inner-padding-end: 60px;
            }
        }

        .name {
            display: flex;
            align-items: center;
            font-size: 0.9rem;

            ion-badge {
                display: inline-table;
                transform: scale(0.8);
                margin-right: 5px;
            }
        }

        .qty,
        .price,
        .total,
        .ipi {
            display: block;
            font-size: 0.9rem;
            margin-left: 10px;
        }

        .qty,
        .price,
        .ipi {
            color: var(--ion-color-medium-shade);
            font-weight: 300;
        }

        .total {
            color: var(--ion-color-success);
        }
    }
}

.stacked span {
    color: var(--ion-color-primary);
}

ion-card-subtitle {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--ion-color-primary);
}

.code {
    font-size: 1.225rem;
    font-weight: 600;
}

@media (min-width: 576px) {
    ion-card {
        height: auto;
    }
}
