<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-title>Fatura</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="dismiss()">

        <ion-icon slot="icon-only" name="close"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="ion-scroll">

    <ion-list>

      <ion-item lines="none">

        <span slot="start">Cliente</span>

        <ion-label class="ion-text-end">{{ customer.razao_social }}</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">CNPJ</span>

        <ion-label class="ion-text-end">{{ customer.cnpj }}</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Empresa</span>

        <ion-label class="ion-text-end">{{ customer.empresa }}</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Vencimento</span>

        <ion-label class="ion-text-end">{{ customer.venc }}</ion-label>

      </ion-item>
      
      <ion-item lines="none">

        <span slot="start">Pedido</span>

        <ion-label class="ion-text-end">{{ customer.pedido }}</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Nota</span>

        <ion-label class="ion-text-end">{{ customer.nota }}</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Forma Pagto</span>

        <ion-label class="ion-text-end">{{ customer.tipo_documento }}</ion-label>

      </ion-item>

    </ion-list>

  </div>

</ion-content>

<ion-footer class="ion-no-border">

  <ion-list>

    <ion-item lines="none">

      <span slot="start">Valor</span>

      <ion-label class="ion-text-end">{{ customer.valor | money }}</ion-label>

    </ion-item>

    <ion-item lines="none">

      <span slot="start">Juros</span>

      <ion-label class="ion-text-end">{{ customer.juros | money }}</ion-label>

    </ion-item>

    <ion-item lines="none">

      <span slot="start">Total</span>

      <ion-label class="ion-text-end">{{ customer.valor + customer.juros | money }}</ion-label>

    </ion-item>

  </ion-list>

</ion-footer>