<ion-content>

  <div class="no-mobile">

    <ion-grid class="ion-no-padding no-mobile">

      <ion-row>

        <ion-col class="ion-no-padding content-img" size-xs="12" size-md="7">

          <div class="image"></div>

        </ion-col>

        <ion-col size-xs="12" size-md="5">

          <form class="login" [formGroup]="formGroup">

            <img class="logo" src="../../../assets/image/logo.png">

            <div>

              <ion-input class="custom" placeholder="Login" maxlength="255" formControlName="user"></ion-input>

              <div class="input-button">

                <ion-input class="custom" [type]="eye ? 'text' : 'password'" placeholder="Senha" maxlength="255" formControlName="password"></ion-input>
        
                <ion-button (click)="toggleEye()">
        
                  <ion-icon slot="icon-only" name="eye-outline" *ngIf="!eye"></ion-icon>
        
                  <ion-icon slot="icon-only" name="eye-off-outline" *ngIf="eye"></ion-icon>
        
                </ion-button>
        
              </div>

            </div>
            
            <ion-button expand="block" (click)="login()">

              <span *ngIf="!loading">Entrar</span>

              <ion-spinner name="dots" *ngIf="loading"></ion-spinner>

            </ion-button>

          </form>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

  <div class="mobile">

    <img class="logo" src="../../../assets/image/logo.png">

    <form [formGroup]="formGroup">

      <ion-input class="custom" placeholder="Login" maxlength="255" formControlName="user"></ion-input>

      <div class="input-button">

        <ion-input class="custom" [type]="eye ? 'text' : 'password'" placeholder="Senha" maxlength="255" formControlName="password"></ion-input>

        <ion-button (click)="toggleEye()">

          <ion-icon slot="icon-only" name="eye-outline" *ngIf="!eye"></ion-icon>

          <ion-icon slot="icon-only" name="eye-off-outline" *ngIf="eye"></ion-icon>

        </ion-button>

      </div>

    </form>

    <ion-button expand="block" (click)="login()">

      <span *ngIf="!loading">Entrar</span>
  
      <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
  
    </ion-button>

  </div>

</ion-content>