<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button *ngIf="!labSelected"></ion-menu-button>

      <ion-button (click)="changeLab()" *ngIf="labSelected">

        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title *ngIf="!labSelected">Produtos</ion-title>

    <ion-title *ngIf="labSelected">{{ labSelected.nome }}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ng-container *ngIf="!labSelected">

    <ion-list class="animate__animated animate__fadeIn" *ngIf="labs?.length > 0">

      <ion-list-header>

        <ion-label>Selecione uma linha</ion-label>

      </ion-list-header>

      <ion-item class="animation-order" [style]="{ '--animation-order': i % 10 }" lines="full" lines="full"
        button="true" detail="true" (click)="selectLab(lab)" *ngFor="let lab of labs; let i=index">

        <ion-label>{{ lab.nome }}</ion-label>

      </ion-item>

    </ion-list>

  </ng-container>

  <ng-container *ngIf="labSelected">

    <ion-list class="animate__animated animate__fadeIn" *ngIf="labSelected">

      <ion-list-header>

        <ion-searchbar mode="ios" placeholder="Buscar" [(ngModel)]="search"></ion-searchbar>

      </ion-list-header>

      <ion-item class="animation-order" [style]="{ '--animation-order': i % 10 }" lines="full"
        *ngFor="let product of products | filter:'nome':search; let i=index">

        <ion-label class="ion-text-wrap">

          <span class="name">{{ product.nome }}</span>

          <span class="price">{{ product.valor_01 | money }}</span>

        </ion-label>

      </ion-item>

    </ion-list>

  </ng-container>

</ion-content>

<app-loader></app-loader>