ion-slides {
    height: 100%;
}

ion-slide {
    text-align: left;
}

ion-list-header ion-label {
    font-family: "Oswald", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--ion-color-primary);
}

ion-list-header ion-button {
    --border-radius: 100%;
    width: 46px;
    height: 46px;
    margin: 2px 5px 2px 2px;
}

ion-list {
    padding: 0;
}

ion-list ion-searchbar {
    padding: 8px 16px;
}

ion-item {
    --min-height: 60px;
    --detail-icon-color: var(--ion-color-primary);
    --detail-icon-opacity: 1;

    &:last-child {
        --border-width: 0;
    }
}

ion-label {
    font-size: 1rem;
}

.name {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--ion-color-primary);
}

.price {
    display: block;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--ion-color-medium);
}
