<ion-content>

  <ion-grid class="ion-no-padding">

    <ion-row>

      <ion-col class="ion-no-padding" size-xs="12" size-md="6">

        <div class="image">

          <div class="text">

            <h3>Bulls Music & Lounge</h3>

            <h2>RÉVEILLON</h2> 

            <h1>2022</h1>

          </div>

        </div>

      </ion-col>

      <ion-col size-xs="12" size-md="6">

        <form class="login" [formGroup]="formGroup">

          <h6>Cadastre-se</h6>

          <ion-grid class="ion-no-margin ion-no-padding">

            <ion-row>

              <ion-col size="12">

                <ion-input class="custom" name="ticketSelected" placeholder="Selecione o Ingresso" maxlength="255" readonly [(ngModel)]="ticketSelected && ticketSelected.name" [ngModelOptions]="{ standalone: true }" (click)="selectTicket()"></ion-input>

              </ion-col>

              <ion-col size="12">

                <ion-input class="custom" placeholder="Nome" maxlength="255" formControlName="name"></ion-input>

              </ion-col>

              <ion-col size="12">

                <ion-input class="custom" placeholder="CPF" maxlength="14" formControlName="cpf" [brmasker]="{ person: true }"></ion-input>

              </ion-col>

              <ion-col size="12">

                <ion-input class="custom" placeholder="Telefone" inputmode="tel" maxlength="15" formControlName="phone" [brmasker]="{ mask: '(00) 00000-0000' }"></ion-input>

              </ion-col>

              <ion-col size="12">

                <ion-input class="custom" placeholder="Email" inputmode="email" maxlength="255" formControlName="email"></ion-input>

              </ion-col>

              <ion-col size-xs="12" size-md="6">

                <ion-input class="custom" type="password" placeholder="Senha" maxlength="255" formControlName="password"></ion-input>

              </ion-col>

              <ion-col size-xs="12" size-md="6">

                <ion-input class="custom" type="password" placeholder="Confirme sua senha" maxlength="255" [(ngModel)]="passwordConfirm" [ngModelOptions]="{ standalone: true }"></ion-input>
                
              </ion-col>

              <ion-col size="12">

                <ion-button expand="block" (click)="save()">
                                  
                  <span>Cadastrar</span>
                
                </ion-button>

              </ion-col>
      
              <ion-col class="ion-text-center" size="12">
    
                <ion-button fill="clear" [routerLink]="['/login']">
                
                  <span class="txt">Já possui cadastro?</span> Entre por aqui
                
                </ion-button>

              </ion-col>

            </ion-row>

          </ion-grid>

        </form>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ngx-loading [show]="loading"></ngx-loading>