<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button *ngIf="!isSearch"></ion-menu-button>

      <ion-button class="animate__animated animate__fadeIn" (click)="cancelSearch()" *ngIf="isSearch">

        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title *ngIf="!isSearch">Clientes</ion-title>

    <ion-title class="animate__animated animate__fadeIn" *ngIf="isSearch">Buscar Cliente</ion-title>

  </ion-toolbar>

  <ion-toolbar class="animate__animated animate__fadeIn" mode="md" *ngIf="!isSearch">

    <ion-segment [(ngModel)]="segment">

      <ion-segment-button value="0">

        <ion-label>Todos</ion-label>

      </ion-segment-button>

      <ion-segment-button value="1">

        <ion-label>Vencidos</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content customScroll>

  <ng-container *ngIf="segment == 0">

    <ion-header class="ion-no-border search animate__animated animate__fadeIn">

      <ion-toolbar>

        <ion-searchbar mode="ios" placeholder="Buscar" [(ngModel)]="customerSearch" (ionFocus)="isSearch = true"
          (ionCancel)="cancelSearch()" (ionChange)="searchChanged()"></ion-searchbar>

      </ion-toolbar>

    </ion-header>

    <ion-list class="animate__animated animate__fadeIn" *ngIf="!isSearch">

      <ion-item class="animation-order" [style]="{ '--animation-order': i % 10 }" lines="full" button="true"
        detail="false" (click)="selectCustomer(customer)"
        *ngFor="let customer of customers | filter:'razao_social,id_cliente':customerSearch; let i=index">

        <ion-label class="ion-text-wrap">

          <span class="name">{{ customer.razao_social }}</span>

          <span class="code">{{ customer.id_cliente }}</span>

          <span class="phone">({{ customer.ddd.slice(-2) }}) {{ customer.tel }}</span>

        </ion-label>

      </ion-item>

    </ion-list>

    <ion-list class="animate__animated animate__fadeIn" *ngIf="isSearch">

      <ion-item lines="none" color="light" *ngIf="searchItems?.length == 0">

        <ion-label class="ion-text-center animate__animated animate__fadeIn">Nada encontrado</ion-label>

      </ion-item>

      <ion-item class="animation-order" [style]="{ '--animation-order': i % 10 }" lines="full" button="true"
        detail="false" (click)="selectCustomer(item)"
        *ngFor="let item of searchItems | filter:'razao_social,id_cliente':customerSearch; let i=index">

        <ion-label class="ion-text-wrap">

          <span class="name">{{ item.razao_social }}</span>

          <span class="code">{{ item.id_cliente }}</span>

          <span class="phone">({{ item.ddd.slice(-2) }}) {{ item.tel }}</span>

        </ion-label>

      </ion-item>

    </ion-list>

    <ion-fab class="animate__animated animate__fadeIn" slot="fixed" vertical="bottom" horizontal="end"
      *ngIf="!isSearch">

      <ion-fab-button (click)="newCustomer()">

        <ion-icon name="add"></ion-icon>

      </ion-fab-button>

    </ion-fab>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadCustomers($event)">

      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>

    </ion-infinite-scroll>

  </ng-container>

  <ng-container *ngIf="segment == 1">

    <ion-header class="ion-no-border search animate__animated animate__fadeIn">

      <ion-toolbar>

        <ion-searchbar mode="ios" placeholder="Buscar" [(ngModel)]="expiredSearch"></ion-searchbar>

      </ion-toolbar>

    </ion-header>

    <ion-list class="animate__animated animate__fadeIn">

      <ion-item class="animation-order" [style]="{ '--animation-order': i % 10 }" lines="full" button="true"
        detail="false" (click)="choose(customer)"
        *ngFor="let customer of expired | filter:'razao_social,id_cliente':expiredSearch; let i=index">

        <ion-label class="ion-text-wrap">

          <span class="name">{{ customer.razao_social }}</span>

          <span class="code">{{ customer.id_cliente }}</span>

          <span class="phone">({{ customer.ddd.slice(-2) }}) {{ customer.tel }}</span>

        </ion-label>

      </ion-item>

    </ion-list>

  </ng-container>

</ion-content>

<app-loader *ngIf="!noloader"></app-loader>