<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Clientes</ion-title>

  </ion-toolbar>

  <ion-toolbar mode="md">

    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()">

      <ion-segment-button value="0">

        <ion-label>Vencidos</ion-label>

      </ion-segment-button>

      <ion-segment-button value="1">

        <ion-label>Todos</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-slides (ionSlideDidChange)="slideChanged($event)">

    <ion-slide>

      <div class="ion-scroll">

        <ion-header class="ion-no-border search">

          <ion-toolbar>

            <ion-searchbar placeholder="Buscar"></ion-searchbar>

          </ion-toolbar>

        </ion-header>

        <ion-list class="animate__animated animate__fadeIn">

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

        </ion-list>

      </div>

    </ion-slide>

    <ion-slide>

      <div class="ion-scroll">

        <ion-header class="ion-no-border search">

          <ion-toolbar>

            <ion-searchbar placeholder="Buscar"></ion-searchbar>

          </ion-toolbar>

        </ion-header>

        <ion-list class="animate__animated animate__fadeIn">

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

          <ion-item lines="full" button="true" detail="true">

            <ion-label>

              <span class="name">A.P.S. COSTA EIRELI</span>

              <span class="code">19.681.282/0001-68</span>
              
              <span class="phone">(63) 3413-2078</span>

            </ion-label>

          </ion-item>

        </ion-list>

      </div>

    </ion-slide>

  </ion-slides>

</ion-content>