.search ion-toolbar {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
}

.name {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--ion-color-primary);
}

.code {
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--ion-color-medium);
}

.phone {
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--ion-color-medium);
}

ion-slides {
    height: 100%;
}

ion-slide {
    text-align: left;
}

ion-list {
    padding: 0;
}

ion-item {
    --detail-icon-color: var(--ion-color-primary);
    --detail-icon-opacity: 1;

    &:last-child {
        --border-width: 0;
    }
}