<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Clientes</ion-title>

  </ion-toolbar>

  <ion-toolbar mode="md">

    <ion-segment value="sunny">

      <ion-segment-button value="sunny">

        <ion-label>Vencidos</ion-label>

      </ion-segment-button>

      <ion-segment-button value="rainy">

        <ion-label>Todos</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content color="light">

  <div class="ion-scroll">

    <ion-grid class="animate__animated animate__fadeIn">

      <ion-row>

        <ion-col size="12">

          <ion-card>

            <ion-card-header>

              <ion-toolbar>

                <ion-searchbar></ion-searchbar>

              </ion-toolbar>

            </ion-card-header>

            <ion-card-content>

              <ion-list>

                <ion-item lines="full" button="true" detail="true">

                  <ion-label>

                    <span class="name">A.P.S. COSTA EIRELI</span>

                    <span class="code">19.681.282/0001-68</span>
                    
                    <span class="phone">(63) 3413-2078</span>

                  </ion-label>

                </ion-item>

                <ion-item lines="full" button="true" detail="true">

                  <ion-label>

                    <span class="name">A.P.S. COSTA EIRELI</span>

                    <span class="code">19.681.282/0001-68</span>
                    
                    <span class="phone">(63) 3413-2078</span>

                  </ion-label>

                </ion-item>

                <ion-item lines="full" button="true" detail="true">

                  <ion-label>

                    <span class="name">A.P.S. COSTA EIRELI</span>

                    <span class="code">19.681.282/0001-68</span>
                    
                    <span class="phone">(63) 3413-2078</span>

                  </ion-label>

                </ion-item>

                <ion-item lines="full" button="true" detail="true">

                  <ion-label>

                    <span class="name">A.P.S. COSTA EIRELI</span>

                    <span class="code">19.681.282/0001-68</span>
                    
                    <span class="phone">(63) 3413-2078</span>

                  </ion-label>

                </ion-item>

                <ion-item lines="full" button="true" detail="true">

                  <ion-label>

                    <span class="name">A.P.S. COSTA EIRELI</span>

                    <span class="code">19.681.282/0001-68</span>
                    
                    <span class="phone">(63) 3413-2078</span>

                  </ion-label>

                </ion-item>

              </ion-list>

            </ion-card-content>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>