<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Pedidos</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="ion-scroll">

    <ion-grid class="animate__animated animate__fadeIn">
    
      <ion-row>

        <ion-col size="12">

          <ion-card>
                
            <ion-card-header>

              <ion-toolbar>

                <ion-searchbar placeholder="Buscar"></ion-searchbar>

              </ion-toolbar>

            </ion-card-header>

            <ion-card-content>

              <ion-list>

                <ion-item lines="full" button="true" detail="true">

                  <ion-badge slot="start" mode="ios" color="light">5703</ion-badge>
                    
                  <ion-label class="ion-text-wrap">
        
                    <span class="customer">OMEGA MED PROD. MEDICO HOSPITALAR LTDA</span>

                    <span class="date">08/10/2021</span>

                    <span class="price">R$ 10.980,19</span>

                    <ion-badge mode="ios" color="danger">Cancelado</ion-badge>
        
                  </ion-label>
        
                </ion-item>

                <ion-item lines="full" button="true" detail="true">

                  <ion-badge slot="start" mode="ios" color="light">5703</ion-badge>
                    
                  <ion-label class="ion-text-wrap">
        
                    <span class="customer">OMEGA MED PROD. MEDICO HOSPITALAR LTDA</span>

                    <span class="date">08/10/2021</span>

                    <span class="price">R$ 10.980,19</span>

                    <ion-badge mode="ios" color="dark">Pendente</ion-badge>
        
                  </ion-label>
        
                </ion-item>

                <ion-item lines="full" button="true" detail="true">

                  <ion-badge slot="start" mode="ios" color="light">5703</ion-badge>
                    
                  <ion-label class="ion-text-wrap">
        
                    <span class="customer">OMEGA MED PROD. MEDICO HOSPITALAR LTDA</span>

                    <span class="date">08/10/2021</span>

                    <span class="price">R$ 10.980,19</span>

                    <ion-badge mode="ios" color="success">Faturado</ion-badge>
        
                  </ion-label>
        
                </ion-item>

                <ion-item lines="full" button="true" detail="true">

                  <ion-badge slot="start" mode="ios" color="light">5703</ion-badge>
                    
                  <ion-label class="ion-text-wrap">
        
                    <span class="customer">OMEGA MED PROD. MEDICO HOSPITALAR LTDA</span>

                    <span class="date">08/10/2021</span>

                    <span class="price">R$ 10.980,19</span>

                    <ion-badge mode="ios" color="secondary">Pré Faturado</ion-badge>
        
                  </ion-label>
        
                </ion-item>

              </ion-list>

            </ion-card-content>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>