<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button *ngIf="!isSearch"></ion-menu-button>

      <ion-button class="animate__animated animate__fadeIn" (click)="cancelSearch()" *ngIf="isSearch">

        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title *ngIf="!isSearch">Pedidos</ion-title>

    <ion-title class="animate__animated animate__fadeIn" *ngIf="isSearch">Buscar Pedido</ion-title>

  </ion-toolbar>

  <ion-toolbar>

    <ion-searchbar class="animate__animated animate__fadeIn" placeholder="Buscar" [(ngModel)]="search" (ionFocus)="isSearch = true" (ionClear)="searchItems = null" (ionCancel)="cancelSearch()" (ionChange)="searchChanged()"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content customScroll>

  <ng-container *ngIf="isSearch">

    <ion-list class="animate__animated animate__fadeIn search">

      <ion-item lines="none" color="light" *ngIf="searchItems?.length == 0">

        <ion-label class="ion-text-center animate__animated animate__fadeIn">Nada encontrado</ion-label>

      </ion-item>

      <ion-item class="animation-order" [style]="{ '--animation-order': i % 10 }" lines="full" button="true"
        detail="false" (click)="detail(item.id_pedido)" *ngFor="let item of searchItems; let i=index">

        <ion-badge slot="start" mode="ios" color="light" *ngIf="item.sync">{{ item.id_pedido }}</ion-badge>

        <ion-icon class="unsync" slot="start" name="cloud-upload-outline" *ngIf="!item.sync"></ion-icon>

        <ion-label class="ion-text-wrap">

          <span class="customer">{{ item.cliente }}</span>

          <span class="date">{{ item.datas | date }}</span>

          <span class="price">{{ sum(item.total, item.ipi) | money }}</span>

          <ion-badge mode="ios" color="secondary" *ngIf="item.sync && item.status == '4'">Pré Faturado</ion-badge>

          <ion-badge mode="ios" color="danger" *ngIf="item.sync && item.status == '2'">Cancelado</ion-badge>

          <ion-badge mode="ios" color="success" *ngIf="item.sync && item.status == '1'">Faturado</ion-badge>

          <ion-badge mode="ios" color="medium" *ngIf="item.sync && item.status == '0'">Pendente</ion-badge>
          
          <ion-badge mode="ios" color="light" *ngIf="!item.sync">Aguardando</ion-badge>

        </ion-label>

      </ion-item>

    </ion-list>

  </ng-container>

  <ng-container *ngIf="!isSearch">

    <ion-list class="animate__animated animate__fadeIn" *ngIf="orders?.length > 0">

      <ion-item class="animation-order" [style]="{ '--animation-order': i % 10 }" lines="full" button="true"
        detail="false" (click)="detail(order.id_pedido)" *ngFor="let order of orders; let i=index">

        <ion-badge slot="start" mode="ios" color="light" *ngIf="order.sync">{{ order.id_pedido }}</ion-badge>

        <ion-icon class="unsync" slot="start" name="cloud-upload-outline" *ngIf="!order.sync"></ion-icon>

        <ion-label class="ion-text-wrap">

          <span class="customer">{{ order.cliente }}</span>

          <span class="date">{{ order.datas | date }}</span>

          <span class="price">{{ sum(order.total, order.ipi) | money }}</span>

          <ion-badge mode="ios" color="secondary" *ngIf="order.sync && order.status == '4'">Pré Faturado</ion-badge>

          <ion-badge mode="ios" color="danger" *ngIf="order.sync && order.status == '2'">Cancelado</ion-badge>

          <ion-badge mode="ios" color="success" *ngIf="order.sync && order.status == '1'">Faturado</ion-badge>

          <ion-badge mode="ios" color="medium" *ngIf="order.sync && order.status == '0'">Pendente</ion-badge>

          <ion-badge mode="ios" color="light" *ngIf="!order.sync">Aguardando</ion-badge>

        </ion-label>

      </ion-item>

    </ion-list>

    <ion-fab class="animate__animated animate__fadeIn" slot="fixed" vertical="bottom" horizontal="end">

      <ion-fab-button (click)="newOrder()">

        <ion-icon name="add"></ion-icon>

      </ion-fab-button>

    </ion-fab>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadOrders($event)">

      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>

    </ion-infinite-scroll>

  </ng-container>

</ion-content>

<app-loader *ngIf="!noloader"></app-loader>