.customer {
    display: block;
    font-size: 1rem;
}

.date {
    display: block;
    font-size: 0.9rem;
    color: var(--ion-color-medium);
}

.price {
    display: block;
    font-size: 1rem;
    margin: 5px 0;
}

ion-list {
    padding: 0;
}

ion-list-header {
    padding: 8px;
}

ion-item {
    --detail-icon-color: var(--ion-color-primary);
    --detail-icon-opacity: 1;

    &:last-child {
        --border-width: 0;
    }
}

ion-badge {
    font-weight: 400;
}

ion-icon.unsync {
    margin-left: 14px;
    margin-right: 42px;
}