<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Pedidos</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="ion-scroll">

    <ion-list class="animate__animated animate__fadeIn">

      <ion-list-header>

        <ion-searchbar placeholder="Buscar"></ion-searchbar>

      </ion-list-header>

      <ion-item lines="full" button="true" detail="true" *ngFor="let order of orders">

        <ion-badge slot="start" mode="ios" color="light">{{ order.id_pedido }}</ion-badge>

        <ion-label class="ion-text-wrap">

          <span class="customer">{{ order.razao_social }}</span>

          <span class="date">{{ order.datas | date }}</span>

          <span class="price">{{ (order.total + order.ipi) | money }}</span>

          <ion-badge mode="ios" color="secondary" *ngIf="order.status == '4'">Pré Faturado</ion-badge>

          <ion-badge mode="ios" color="danger" *ngIf="order.status == '2'">Cancelado</ion-badge>

          <ion-badge mode="ios" color="success" *ngIf="order.status == '1'">Faturado</ion-badge>

        </ion-label>

      </ion-item>

    </ion-list>

  </div>

</ion-content>

<app-loader></app-loader>