ion-card-header {
    padding: 16px 16px 10px;
}

ion-card-content {
    padding: 0 16px 16px;
}

ion-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--ion-color-primary);
    min-height: 30px;
}

ion-card-title ion-button {
    height: 30px;
    font-size: 0.8rem;
    margin-left: 10px;
}

ion-progress-bar {
    height: 22px;
    margin-bottom: 5px;
}

ion-note {
    color: var(--ion-color-secondary);
}

ion-searchbar {
    padding: 0;
    height: 50px;
    margin-bottom: 8px;
}

.progress-value {
    position: absolute;
    top: 1.5px;
    left: 22px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
}