<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>Início</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content color="light">

  <ion-grid *ngIf="dashboard">

    <ion-row>

      <ion-col class="animation-order" [style]="{ '--animation-order': 1 % 10 }" size-xs="12" size-md="6">

        <ion-card>

          <ion-card-header>

            <ion-card-title>Total Faturado: {{ dashboard.valor_faturado | money }}</ion-card-title>

            <ion-card-subtitle>Meta: {{ dashboard.valor_meta | money }}</ion-card-subtitle>

          </ion-card-header>

          <ion-card-content>

            <ion-progress-bar [value]="dashboard.valor_faturado / dashboard.valor_meta" color="primary"></ion-progress-bar>

            <span class="progress-value" *ngIf="dashboard.valor_meta > 0">{{ (dashboard.valor_faturado * 100 / dashboard.valor_meta) |
              number:'1.1-2' }}%</span>

            <span class="progress-value" *ngIf="dashboard.valor_meta == 0">100%</span>

            <ion-note class="animate__animated animate__fadeIn animate__infinite" *ngIf="dashboard.valor_meta > 0">Falta {{
              (dashboard.valor_meta - dashboard.valor_faturado) | money }} para você cumprir sua meta</ion-note>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col class="animation-order" [style]="{ '--animation-order': 2 % 10 }" size-xs="12" size-md="6">

        <ion-card>

          <ion-card-header>

            <ion-card-title>
              
              Total de clientes: {{ dashboard.total_clientes }}
              
              <ion-button fill="clear" size="small" (click)="customers()">Ver todos</ion-button>

            </ion-card-title>

            <ion-card-subtitle>
              
              Positivados: {{ dashboard.total_positivos }}
            
            </ion-card-subtitle>

          </ion-card-header>

          <ion-card-content>

            <ion-progress-bar [value]="dashboard.total_positivos / dashboard.total_clientes" color="primary">
            </ion-progress-bar>

            <span class="progress-value">{{ (dashboard.total_positivos * 100 / dashboard.total_clientes) |
              number:'1.1-2' }}%</span>

            <ion-note class="animate__animated animate__fadeIn animate__infinite">Falta {{ dashboard.total_clientes -
              dashboard.total_positivos }} para você cumprir sua meta!</ion-note>

          </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<app-loader></app-loader>