ion-card-header {
    padding: 16px 16px 10px;
}

ion-card-content {
    padding: 0 16px 16px;
}

ion-card-title {
    font-family: "Oswald", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--ion-color-primary);
}

ion-card-subtitle {
    display: flex;
    align-items: center;
}

ion-card-subtitle ion-button {
    height: 21px;
    font-size: 0.8rem;
    margin-left: 10px;
}

ion-progress-bar {
    height: 22px;
    margin-bottom: 5px;
}

ion-note {
    color: var(--ion-color-secondary);
}

.progress-value {
    position: absolute;
    top: 1.5px;
    left: 22px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
}

.customers {
    .ion-scroll {
        max-height: 208px;
        padding: 0 10px;
    }

    ion-input {
        margin-bottom: 10px;
    }

    ion-list {
        padding: 0;

        ion-item {
            --padding-start: 0;
            --inner-padding-start: 8px;
            --inner-padding-end: 8px;
            --detail-icon-color: var(--ion-color-primary);
            --detail-icon-opacity: 1;

            &:last-child {
                --border-width: 0;
            }
        }
    }
}

@media (min-width: 992px) {
    .customers {
        .ion-scroll {
            max-height: 350px;
        }
    }
}