<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-title>Cliente</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="dismiss()">

        <ion-icon slot="icon-only" name="close"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="ion-scroll">

    <ion-grid [formGroup]="formGroup">

      <ion-row>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">Razão Social <span>*</span></ion-label>

          <ion-input formControlName="razao_social"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">CNPJ <span>*</span></ion-label>

          <ion-input inputmode="numeric" maxlength="18" formControlName="cnpj" [brmasker]="{ mask: '00.000.000/0000-00', len: 18 }"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">Nome Fantasia</ion-label>

          <ion-input formControlName="fantasia"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">Inscrição Estadual</ion-label>

          <ion-input inputmode="numeric" formControlName="ie"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">Celular <span>*</span></ion-label>

          <ion-input inputmode="numeric" formControlName="cel" [brmasker]="{ phone: true }"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">Telefone</ion-label>

          <ion-input inputmode="numeric" formControlName="tel" [brmasker]="{ phone: true }"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">E-mail <span>*</span></ion-label>

          <ion-input formControlName="email"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">Grupo <span>*</span></ion-label>
          
          <ion-select formControlName="grupo" placeholder="Selecione" interface="action-sheet" cancelText="Cancelar">

            <ion-select-option value="1">VAREJO</ion-select-option>

            <ion-select-option value="2">FARMÁCIA</ion-select-option>

            <ion-select-option value="3">DISTRIBUIDOR</ion-select-option>

            <ion-select-option value="4">ATACADO</ion-select-option>

          </ion-select>

        </ion-col>

        <ion-col size="12">

          <ion-item lines="none" color="light">

            <ion-label class="ion-text-center">Endereço</ion-label>

          </ion-item>

        </ion-col>

        <ion-col size="12" size-md="3">

          <ion-label class="stacked">CEP</ion-label>

          <ion-input inputmode="numeric" maxlength="9" formControlName="cep" [brmasker]="{ mask: '00000-000', len: 9 }"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="5">

          <ion-label class="stacked">Endereço</ion-label>

          <ion-input formControlName="end"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="4">

          <ion-label class="stacked">Bairro</ion-label>

          <ion-input formControlName="bairro"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">Cidade</ion-label>

          <ion-input formControlName="cidade"></ion-input>

        </ion-col>

        <ion-col size-xs="12" size-md="6">

          <ion-label class="stacked">Estado</ion-label>

          <ion-input formControlName="estado"></ion-input>

        </ion-col>

        <ion-col size="12">

          <ion-item lines="none" color="light">

            <ion-label class="ion-text-center">Referências</ion-label>

          </ion-item>

        </ion-col>

        <ion-col size="6">

          <ion-label class="stacked">Nome</ion-label>

          <ion-input formControlName="ref1"></ion-input>

        </ion-col>

        <ion-col size="6">

          <ion-label class="stacked">Telefone</ion-label>

          <ion-input inputmode="tel" formControlName="refnum1" [brmasker]="{ phone: true }"></ion-input>

        </ion-col>

        <ion-col size="6">

          <ion-label class="stacked">Nome</ion-label>

          <ion-input formControlName="ref2"></ion-input>

        </ion-col>

        <ion-col size="6">

          <ion-label class="stacked">Telefone</ion-label>

          <ion-input inputmode="tel" formControlName="refnum2" [brmasker]="{ phone: true }"></ion-input>

        </ion-col>

        <ion-col size="6">

          <ion-label class="stacked">Nome</ion-label>

          <ion-input formControlName="ref3"></ion-input>

        </ion-col>

        <ion-col size="6">

          <ion-label class="stacked">Telefone</ion-label>

          <ion-input inputmode="tel" formControlName="refnum3" [brmasker]="{ phone: true }"></ion-input>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>

<ion-footer class="ion-padding ion-no-border">

  <ion-button expand="block" [disabled]="formGroup.invalid" (click)="save()">Cadastrar</ion-button>

</ion-footer>

<app-loader></app-loader>