ion-list {
    padding: 0;
}

ion-item:last-child {
    --border-width: 0;
}

ion-label {
    font-size: 0.9rem;
}

span {
    display: block;
    color: var(--ion-color-medium);
    font-size: 0.8rem;
}