<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-title>Pedido</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="dismiss()">

        <ion-icon slot="icon-only" name="close"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="ion-scroll">

    <ion-list>

      <ion-item lines="none">

        <span slot="start">Vendedor</span>

        <ion-label class="ion-text-wrap ion-text-end">FREDERICO GARCIA</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Código do<br>Vendedor</span>

        <ion-label class="ion-text-wrap ion-text-end">F03</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Prazo de<br>Pagamento</span>

        <ion-label class="ion-text-wrap ion-text-end">BOLETO 7 DIAS</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Promoção</span>

        <ion-label class="ion-text-wrap ion-text-end">/ /</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Promoção<br>Autorizada Por</span>

        <ion-label class="ion-text-wrap ion-text-end">Frederico</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Data da<br>Autorização</span>

        <ion-label class="ion-text-wrap ion-text-end">27/10/2021</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Comentários</span>

        <ion-label class="ion-text-wrap ion-text-end">Álcool Gel com Carbopol e Válvula Pump. Entregar neste endereço: Rua 19 nº 260 5º andar Centro Goiânia - GO (Sede do SESC)</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Cliente</span>

        <ion-label class="ion-text-wrap ion-text-end">FEDERACAO DO COMERCIO DO ESTADO DE GOIAS</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">CNPJ</span>

        <ion-label class="ion-text-wrap ion-text-end">01.640.671/0001-80</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Fantasia</span>

        <ion-label class="ion-text-wrap ion-text-end">FECOMERCIO</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Telefone</span>

        <ion-label class="ion-text-wrap ion-text-end">(62) 3227-2400</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Código do Cliente</span>

        <ion-label class="ion-text-wrap ion-text-end">01.640.671/0001-80</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">IE</span>

        <ion-label class="ion-text-wrap ion-text-end"></ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Email</span>

        <ion-label class="ion-text-wrap ion-text-end">presidencia@fecomerciogo.org.br</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Cidade/UF</span>

        <ion-label class="ion-text-wrap ion-text-end">GOIÂNIA/GO</ion-label>

      </ion-item>

      <ion-item lines="none">

        <span slot="start">Motivo do<br>cancelamento</span>

        <ion-label class="ion-text-wrap ion-text-end"></ion-label>

      </ion-item>

      <ion-item class="product" lines="none" color="light">

        <ion-label class="ion-text-center">Produtos</ion-label>

      </ion-item>

      <ion-item class="product" lines="none">

        <ion-badge slot="start" color="light" mode="ios">2x</ion-badge>

        <ion-label class="ion-text-wrap">

          <span>MophClean - Álcool Gel c/ Triclosan 480 ml</span>

          <span>Código 258</span>

          <span>R$ 132,00</span>

        </ion-label>

        <ion-icon slot="end" name="checkmark-circle" color="success"></ion-icon>

      </ion-item>

    </ion-list>

  </div>

</ion-content>

<ion-footer class="ion-no-border ion-padding-vertical">

  <ion-list>

    <ion-item lines="none">

      <span slot="start">Total S/ IPI</span>

      <ion-label class="ion-text-end">R$ 264,00</ion-label>

    </ion-item>

    <ion-item lines="none">

      <span slot="start">IPI</span>

      <ion-label class="ion-text-end">R$ 13,20</ion-label>

    </ion-item>

    <ion-item lines="none">

      <span slot="start">Total</span>

      <ion-label class="ion-text-end">R$ 277,20</ion-label>

    </ion-item>

    <ion-item lines="none">

      <span slot="start">Previsão de Comissão</span>

      <ion-label class="ion-text-end">R$ 26,40</ion-label>

    </ion-item>

  </ion-list>

</ion-footer>