<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-badge slot="start" color="dark" *ngIf="order.novo">Cliente Novo</ion-badge>

    <ion-title>Pedido</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="dismiss()">

        <ion-icon slot="icon-only" name="close"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="ion-scroll">

    <ion-list>

      <ion-item lines="none" *ngIf="order.vendedor">

        <span slot="start">Vendedor</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.vendedor }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.cod_vendedor">

        <span slot="start">Código do<br>Vendedor</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.cod_vendedor }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.pag_prazo">

        <span slot="start">Prazo de<br>Pagamento</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.pag_prazo }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.promo">

        <span slot="start">Promoção</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.promo }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.promo_aut_por">

        <span slot="start">Promoção<br>Autorizada Por</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.promo_aut_por }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.promo_data_aut">

        <span slot="start">Data da<br>Autorização</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.promo_data_aut }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.comentario">

        <span slot="start">Comentários</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.comentario }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.cliente">

        <span slot="start">Cliente</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.cliente }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.cnpj">

        <span slot="start">CNPJ</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.cnpj }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.fantasia">

        <span slot="start">Fantasia</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.fantasia }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.tel">

        <span slot="start">Telefone</span>

        <ion-label class="ion-text-wrap ion-text-end">({{ order.ddd.slice(-2) }}) {{ order.tel }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.cod_cliente">

        <span slot="start">Código do Cliente</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.cod_cliente }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.ie">

        <span slot="start">IE</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.ie }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.email">

        <span slot="start">Email</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.email }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.cidade && order.estado">

        <span slot="start">Cidade/UF</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.cidade }}/{{ order.estado }}</ion-label>

      </ion-item>

      <ion-item lines="none" *ngIf="order.motivocancelamento">

        <span slot="start">Motivo do<br>cancelamento</span>

        <ion-label class="ion-text-wrap ion-text-end">{{ order.motivocancelamento }}</ion-label>

      </ion-item>

      <ion-item class="product" lines="none" color="light">

        <ion-label class="ion-text-center">Produtos</ion-label>

      </ion-item>

      <ion-item class="product" lines="none" *ngFor="let item of order.items">

        <ion-badge slot="start" color="light" mode="ios">{{ item.qtde }}x</ion-badge>

        <ion-label class="ion-text-wrap">

          <span>{{ item.nome }}</span>

          <span>Código {{ item.cod }}</span>

          <span>{{ item.valor | money }}</span>

        </ion-label>

        <ion-icon slot="end" name="checkmark-circle" color="success" *ngIf="item.faturado == '0'"></ion-icon>

        <ion-icon slot="end" name="close-circle" color="danger" *ngIf="item.faturado != '0'"></ion-icon>

      </ion-item>

    </ion-list>

  </div>

</ion-content>

<ion-footer class="ion-no-border ion-padding-vertical">

  <ion-list>

    <ion-item lines="none">

      <span slot="start">Total S/ IPI</span>

      <ion-label class="ion-text-end">{{ order.total | money }}</ion-label>

    </ion-item>

    <ion-item lines="none">

      <span slot="start">IPI</span>

      <ion-label class="ion-text-end">{{ order.ipi | money }}</ion-label>

    </ion-item>

    <ion-item lines="none">

      <span slot="start">Total</span>

      <ion-label class="ion-text-end total">{{ order.total + order.ipi | money }}</ion-label>

    </ion-item>

    <ion-item lines="none">

      <span slot="start">Previsão de Comissão</span>

      <ion-label class="ion-text-end">{{ comissao | money }}</ion-label>

    </ion-item>

  </ion-list>

  <ion-button expand="block" (click)="print()">

    <ion-icon slot="start" name="print-outline"></ion-icon> Imprimir
  
  </ion-button>

</ion-footer>