<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-title>Produto</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="dismiss()">

        <ion-icon slot="icon-only" name="close"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar mode="md">

    <ion-segment [(ngModel)]="segment">

      <ion-segment-button value="CX">

        <ion-label>Caixa</ion-label>

      </ion-segment-button>

      <ion-segment-button value="UN">

        <ion-label>Unidade</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="ion-scroll">

    <ion-grid>

      <ion-row>

        <ion-col size="12">

          <ion-label class="stacked">Linha</ion-label>

          <ion-select placeholder="Selecione" interface="action-sheet" cancelText="Cancelar" [(ngModel)]="lab_id" (ngModelChange)="labChanged()">

            <ion-select-option [value]="lab.id_lab" *ngFor="let lab of labs">{{ lab.nome }}</ion-select-option>

          </ion-select>

        </ion-col>

        <ion-col class="animate__animated animate__fadeIn" size="12" *ngIf="products">

          <ion-label class="stacked">Produto</ion-label>

          <ion-select placeholder="Selecione" interface="action-sheet" cancelText="Cancelar" [(ngModel)]="product_id" (ngModelChange)="productChanged()">

            <ion-select-option [value]="product.id_produto" *ngFor="let product of products">{{ product.nome }}</ion-select-option>

          </ion-select>

        </ion-col>

        <ion-col class="animate__animated animate__fadeIn" size="12" *ngIf="product_id && products">

          <ion-label class="stacked">Desconto %</ion-label>

          <ion-input type="number" min="0" max="100" [(ngModel)]="discount" (ngModelChange)="discountChanged()"></ion-input>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeIn" *ngIf="prices">

  <ion-grid>

    <ion-row>

      <ion-col size="5">

        <app-quantity [lines]="true" [min]="1" [value]="qty" [disabled]="!product_id" (changeQty)="changeQty($event)"></app-quantity>

      </ion-col>

      <ion-col size="7">

        <ion-button class="product" expand="block" [disabled]="!product_id" (click)="save()">{{ buttonText }} <span class="total" *ngIf="total">{{ total | money }}</span></ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer>

<app-loader></app-loader>